*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

body{
    margin: 0;

}

.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
    gap: 3rem 1rem;
    padding: 2rem 0;
    margin:  0 1.1rem;
    border: 1px solid #14213D;
}

.video-section:first-child{
    border-top: none;
}

.video-container{
    display: block;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}

.thumbnail{
    position: relative;
    display: flex;
    margin-right: 7px;
}

.thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(252, 163, 17, 0.7);
    color: #14213D;
    right: 2px;
    bottom: 4px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9em;
}

.thumbnail-image{
    width: 18%;
    height: 18%;
    min-width: 240px;
    min-height: 140px;
    max-width: 240px;
    max-height: 140px;
    background-color: #14213D;
}

.video-bottom-section{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.channel-icon{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #14213D;
}

.video-details{
    display: flex;
    flex-direction: column;
}

.video-title{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: #FCA311;
}

.video-channel-name{
    margin-bottom: .1rem;
    text-decoration: none;
    color: #14213D;
    font-weight: bold;
}

.video-channel-name:hover{
    color: #14213D;
}

.video-channel-name, .video-metadata{
    color: #14213D;
}

.video-section-title{
    grid-column: 1 / -1;
    margin: -.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.video-section-title-close{
    border: none;
    background: none;
    padding: 0;
    font-size: 2rem;
    color: #14213D;
    cursor: pointer;
}

.videos{
    background-color: rgba(229, 229, 229, 0.4);
}

.categories{
    padding: 1rem 2rem;
    border: 1px solid #14213D;
    border-bottom: 1px solid #14213D;
}

.category-section{
    display: flex;
    overflow: hidden;
}

.category{
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #14213D;
    border-radius: 900px;
    background-color: rgba(252, 163, 17, 0.7);
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color: #14213D;
}

.category:hover{
     background-image: linear-gradient(#14213D, #FCA311);
}

.category.active{
    background-color: #14213D;
    color: #FCA311;
    border-color: #FCA311;
}

.category:last-child{
    margin-right: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.youtube-logo{
    height: 80px;
}

.search-bar{
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
}

.search-input{
    width: 100%;
    font-size: inherit;
    padding: .4rem;
    border: 1px solid #14213D;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn{
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #14213D;
    background-color: #E5E5E5;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.search-btn:hover{
    background-color: #FCA311;
}

.menu-icons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 1.5rem;
}

.menu-channel-icon{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #FCA311;
}

.sitelogo p{
margin-right: -10px;
font-family: Georgia, serif;
font-size: 28px;
letter-spacing: 2px;
word-spacing: 2px;
color: #FCA311;
font-weight: 800;
text-decoration: none;
font-style: italic;
font-variant: small-caps;
text-transform: capitalize;
}